body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 80px auto;
    background: #ad7e7e;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

.actions button {
    margin-left: 5px;
}